h1 {
  text-align: center;
}

.game-container {
  display: flex;
  flex-direction: row;
  border: 1px solid black;
  align-items: center;
  justify-items: center;
  justify-content: center;
}

.column {
  border: 1px solid black;
  height: 600px;
  width: 120px;
}

.slot {
  width: 70px;
  height: 70px;
  background: black;
  border-radius: 50%;
  margin: 25px;
}
