body {
  background-image: url(../img/star-background.jpg);
  background-size: cover;
}

h1 {
  text-align: center;
  /* color: white; */
  font-family: "Righteous", cursive;
  letter-spacing: 3px;
  font-size: 60px;
  background: -webkit-linear-gradient(#ff00cc, #333399);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.player-info {
  color: white;
  display: flex;
  justify-content: center;
  font-family: "Righteous", cursive;
  letter-spacing: 3px;
  align-items: center;
}

.player1 {
  border: 1px solid white;
  font-family: "Righteous", cursive;
  border-radius: 10px;
  margin: 10px;
  flex-basis: 15%;
  padding: 5px;
  color: white;
}

.player1 > h2 {
  background: -webkit-linear-gradient(#ff00cc, #333399);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 35px;
}

.player2 {
  border: 1px solid white;
  font-family: "Righteous", cursive;
  border-radius: 10px;
  margin: 10px;
  flex-basis: 15%;
  padding: 5px;
  color: white;
}

.player2 > h2 {
  background: -webkit-linear-gradient(#ff00cc, #333399);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 35px;
}

.btn {
  flex: 0 0 auto;
  margin: 10px;
  padding: 30px;
  font-family: "Righteous", cursive;
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  cursor: pointer;
}

.btn:hover {
  background-position: right center;
}

.go-home {
  background-image: linear-gradient(
    to right,
    #ff00cc 0%,
    #333399 51%,
    #ff00cc 100%
  );
}

.reset-game {
  background-image: linear-gradient(
    to right,
    #ff00cc 0%,
    #333399 51%,
    #ff00cc 100%
  );
}

.game-container {
  display: flex;
  flex-direction: row;
  /* border: 1px solid white; */
  align-items: center;
  justify-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 1280px;
}

.column {
  /* border: 1px solid white; */
  height: 600px;
  width: 120px;
  background: transparent;
  border-radius: 10px;
}

.slot {
  width: 60px;
  height: 60px;
  background: transparent;
  border-radius: 50%;
  margin: 25px;
  border: 5px solid white;
  /* background: url("../img/planet-earth.png"); */
  background-size: cover;
}

.current-player {
  display: flex;
  flex-direction: column;
  border: 1px solid white;
  color: white;
  justify-content: center;
  align-items: center;
  width: 400px;
  margin: auto;
  margin-top: 10px;
}
